<h1><%= @restaurant.name %></h1>
<p>
  <%= @restaurant.category %>
</p>
<p>
  <%= @restaurant.address %>
</p>
<p>
  <%= @restaurant.phone %>
</p>

<h1>Reviews</h1>
<h2> Write a Review</h2>
<%=simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<% @restaurant.reviews.each do |review|%>
<%= review.content %>
<%= review.rating %>
<br>
<% end %>
<%= link_to "Back to all", restaurants_path %>
